
$max-width:1300px;
$min-width:1300px;
.wrap{
   width: 1210px;
   margin:0 auto; 
}

.top{
    width:100%;
    height:80px;
    margin:0 auto;
    img{
       width:100%; 
       height:80px;
       min-width: 1210px;
    }
}
.header{
    width:100%;
    height: 30px; 
    line-height: 30px;
    background: #f2f2f2;
    .color{ 
      background: #f2f2f2;
    }
    a{
       color:#666; 
       font-size: 14px;
    }
}
.header-left{
    float:left;
    li{
        float: left;
        a{           
            padding: 0 30px 0 5px;
            &:hover{
                color: #b28247;
            }
        }
        .li1{
            border-right: 1px solid #dfdfdf;
            padding-right: 15px;
        }
        .phone{
            padding-left: 15px;
        }
    }
}
.header-right{
    float:right;
    li{
        position: relative;
        float:left;
        a{
            border-right: 1px solid #dfdfdf;
            padding: 0 30px; 
            &:hover{
                color: #b28247;
            }          
        }
        &:last-child{
             a{
                border-right:0;               
             }
        }
        .gift{
            position: absolute;
            color: red;
            top:9px;
            left: 10px;
        }
        .down{
            position: absolute; 
            top: 9px;
            right: 13px;
        }
        .my5lux{
            float:left;
            width: 145px;
            background: white;
            position: absolute;
            border: 1px solid #ccc;
            border-top: 0;
            display: none;
            z-index: 2;
            ul{
                z-index: 10;
                float: left;
                background: white;
                li{
                    float:left;
                    width: 100%;               
                    line-height: 30px;
                    font-size: 14px;
                    a{
                        border: 0;
                        display: block;
                        padding: 0;
                        position: relative;
                        right: -58px;
                        &:hover{
                            color: #d00000;
                        }
                    }                  
                }
                .wuda{
                    right: 0;
                    text-align: center;
                }               
            }           
        }
        .download{
            float:left;
            position: absolute;
            border: 1px solid #ccc;
            border-top: 0;
            background: white;
            display: none;
            ul{
                float: left;
                li{
                    font-size: 13px;                   
                    box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                    line-height: 20px;
                    img{
                        padding: 5px;
                    }
                    span{
                        color: #d00000;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .li3:hover {
       background: white; 
    }
    .li3:hover .my5lux{
        display: block;
        z-index: -1;
    }
//  .li3:hover .my5lux ul{
//      background: white;
//      display: block;
//  }
    .weima{
        background: url(../img/brandstore_share.png) no-repeat -201px -369px;
        a{
            padding-left: 15px;
            padding-right: 50px;
        }
        &:hover .download{
            display: block;
            background: white;
            z-index: 2;
        }
    }
}
.headerInfo{
    width:100%;
    margin: 0 auto;
    position: relative;
    float: left;
    .logo{
        float:left;
        .lg{
            float: left;
        }
        .yijian{
            float: left;
            margin: 10px 0 0 45px;
        }
    }
    .search{
        float:left;
        margin: 30px 0 0 50px;
        form{
            width: 383px;
            height: 40px;
            border: 1px solid #c69c6d;
            overflow: hidden;
            .search_name{
                width: 303px;
                height: 40px;
                border: 0;  
                outline: medium;
                overflow: hidden;
                text-indent: 4px;           
            }
            .search_button{
                background: #c69c6d;
                overflow: hidden;
                width: 80px;
                height: 40px;
                float:right;
                border: none;
                color: white;
                outline: medium;              
            }
        }
        .hotSearch{
            margin:5px 0 0 5px;
            a{
                font-size: 12px;
                color: #999;
                display: block;
                float: left;
                padding-right: 23px;
                &:hover{
                    color: #d00000;
                }
            }
        }   
    }
    .order{        
        float:right;
        position: relative;
        top: 35px;
        dl{
            background: #fff;
            position: relative;
            float: left;
            dt{
                width: 150px;
                height: 32px;
                line-height: 32px;
                text-indent: 45px;
                border: 1px solid #ccc;
                box-shadow: 0 0 2px rgba(0,0,0,.2);
                -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
                -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
                position: relative;
                float: right;
                color: #666;
                background: url(../img/brandstore_share.png) no-repeat -324px -407px;
                img{
                    position: absolute;
                    left: 10px;
                    top: 2px;
                }
            }
            dd{
                clear: both;
                width: 268px;
                padding: 10px 10px 20px 10px;
                border: 1px solid #ccc;
                display: none;
                text-align: center;
                box-shadow: 0 0 2px rgba(0,0,0,.2);
                -webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
                -moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
                background-color: #fff;
                ul{
                    max-height: 335px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
            b{
                width: 150px;
                height: 3px;
                display: none;
                position: absolute;
                background: #fff;
                right: 1px;
                top: 32px;
                z-index: 1;
            }
            &:hover dd{
                display: block;
            }
            &:hover b{
                display: block;
            }
        }
    }
}
.nav{
    width:100%;
    min-width: 1210px;
    background: url(../img/navi_1pxbg.png) repeat-x;
    height: 38px;
    float: left;
    vertical-align: middle;
    box-shadow: 0 4px 4px #c7c6c6;
    -o-box-shadow: 0 4px 4px #c7c6c6;
    -moz-box-shadow: 0 4px 4px #c7c6c6;
    -webkit-box-shadow: 0 4px 4px #c7c6c6;
    .menu{
        height: 40px;
        margin: 0 auto;
        position: relative;
        float: left;
       li{
            float: left;
            z-index: 20;
            font-size: 14px;
            text-align: center;
            font-family: 微软雅黑;
            height: 40px;
            line-height: 40px;           
           a{               
                display: block;
                width: 82px;
                height: 38px;
                color: #c8a985;
                position: relative;
                .marker{
                    font-size: 30px;
                    position: absolute;
                    top: 5px;
                    left: 7px;
                }
           }
           .wi{
                color: white;
           }
           .fenLei{
                width: 130px;
                background:url(../img/lux_index.png) no-repeat -8px -216px ;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
           }
           .leftmenu{
                width: 130px;
                display: block;
                float: left;
                position: relative;
                z-index: 10;
                vertical-align: top;
                background: rgba(0,0,0,0.2);
                ul{
                    li{
                        .group{
                            background-color: #fff;
                            filter: alpha(opacity=85);
                            -moz-opacity: 0.85;
                            -khtml-opacity: 0.85;
                            opacity: 0.85;
                            height: 36px;
                            text-align: left;
                            line-height: 36px;
                            margin: 0 auto;
                            position: relative;
                            padding-left: 48px;  
                            
                           a{
                               color: black;
                           }
                            i{
                                position: absolute;
                                right: 2px;
                                top: 2px;
                                height: 36px;
                                width: 20px;
                                display: block;
                                background: url(../img/share02.png) no-repeat -304px -33px;
                            }                         
                        }
                        .hodh{
                            background: url(../img/brand_category1.png) no-repeat -3px -4px;
                        }
                        .xiangbao{
                            background: url(../img/brand_category1.png) no-repeat -3px -36px;
                        }
                        .meizhuang{
                            background: url(../img/brand_category1.png) no-repeat -3px -68px;
                        }
                        .fuzhuang{
                            background: url(../img/brand_category1.png) no-repeat -3px -100px;
                        }
                        .wanbiao{
                            background: url(../img/brand_category1.png) no-repeat -3px -132px;
                        }
                        .peishi{
                            background: url(../img/brand_category1.png) no-repeat -3px -165px;
                        }
                        .xiexue{
                            background: url(../img/brand_category1.png) no-repeat -3px -196px;
                        }
                        .muying{
                            background: url(../img/brand_category1.png) no-repeat -3px -228px;
                        }
                        .meijiu{
                            background: url(../img/brand_category1.png) no-repeat -3px -261px;
                        }
                        .meishi{
                            background: url(../img/brand_category1.png) no-repeat -3px -294px;
                        }
                        .jiaju{
                            background: url(../img/brand_category1.png) no-repeat -3px -326px;
                        }
                        .dianzi{
                            background: url(../img/brand_category1.png) no-repeat -3px -357px;
                        }
                        .bangong{
                            background: url(../img/brand_category1.png) no-repeat -3px -390px;
                        }
                        .lipin{
                            background: url(../img/brand_category1.png) no-repeat -3px -422px;
                        }
                        .haiwai{
                            background: url(../img/brand_category1.png) no-repeat -3px -458px;
                        }
                    }
                }  
                
           }
       } 
    }
    .icon_Wrap{
        float: right;
        li{
            float: left;
            margin-right: 12px;
            width: 30px;
            overflow: hidden;
            line-height: 40px;
            div{
                width: 200px;
                overflow: hidden;
                a{
                    display: block;
                    line-height: 40px;
                    span{
                        display: block;
                        width: 30px;
                        height: 40px;
                        line-height: 40px;
                        float: left;
                        margin-right: 3px;
                    }
                    b{
                        font-weight: 400;
                        float: left;
                        color: #fff;
                        font-size: 12px;
                    }
                }               
            }
            .divlist01{
                span{
                    background: url(../img/share02.png) no-repeat -237px -66px;                    
                }
            }
            .divlist02{
                span{
                    background: url(../img/share02.png) no-repeat -296px -66px;                    
                }
            }
            .divlist03{
                span{
                    background: url(../img/share02.png) no-repeat -354px -66px;                    
                }
            }
        }
    }
}
.carousel{
    position:relative;
    width:100%;
    min-width: 1210px;
    height:520px;
    overflow:hidden;
    ul{
        position:relative;
        width: 11200px;
        height: 520px;
        float:left;
       li{
           float:left;
           img{
               display:block; 
                             
          }
       } 
    }
    .page{
        position: absolute;
        right:50%;
        margin-right:-77px;
        bottom:15px; 
        background: rgba(0,0,0,0.2);
        border-radius: 10px;
        span{
           display:inline-block;
           margin:0 5px;
           width:12px;
           height:12px;
           overflow:hidden;
           text-align:center;
           background-color:#efefef;
           border-radius:50%;
           text-indent:-2000em;          
        }
        .active{
           background-color:#f60;
           color:#fff;
       }
    }
    .prev{
        display:block; 
        position: absolute;
        width:60px;height:60px;
        line-height:60px;
        background:url(../img/templateleft.png) no-repeat;
        color:#fff;
        text-align:center;
        opacity: 0.6;
        left:237px;
        top:0;
        bottom:0;
        margin:auto 0;
    }
    .next{
        display:block; 
        position: absolute;
        width:60px;height:60px;
        line-height:60px;
        background:url(../img/templateright.png) no-repeat;
        color:#fff;
        text-align:center;
        opacity: 0.6;
        right:237px;
        top:50%;
        margin-top:-25px;
    }
    &:hover .next{
        display:block;
    }
    &:hover .prev{
        display:block;
    }
}


