@charset "UTF-8";
.wrap {
  width: 1210px;
  margin: 0 auto;
}

.top {
  width: 100%;
  height: 80px;
  margin: 0 auto;
}

.top img {
  width: 100%;
  height: 80px;
  min-width: 1210px;
}

.header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #f2f2f2;
}

.header .color {
  background: #f2f2f2;
}

.header a {
  color: #666;
  font-size: 14px;
}

.header-left {
  float: left;
}

.header-left li {
  float: left;
}

.header-left li a {
  padding: 0 30px 0 5px;
}

.header-left li a:hover {
  color: #b28247;
}

.header-left li .li1 {
  border-right: 1px solid #dfdfdf;
  padding-right: 15px;
}

.header-left li .phone {
  padding-left: 15px;
}

.header-right {
  float: right;
}

.header-right li {
  position: relative;
  float: left;
}

.header-right li a {
  border-right: 1px solid #dfdfdf;
  padding: 0 30px;
}

.header-right li a:hover {
  color: #b28247;
}

.header-right li:last-child a {
  border-right: 0;
}

.header-right li .gift {
  position: absolute;
  color: red;
  top: 9px;
  left: 10px;
}

.header-right li .down {
  position: absolute;
  top: 9px;
  right: 13px;
}

.header-right li .my5lux {
  float: left;
  width: 145px;
  background: white;
  position: absolute;
  border: 1px solid #ccc;
  border-top: 0;
  display: none;
  z-index: 2;
}

.header-right li .my5lux ul {
  z-index: 10;
  float: left;
  background: white;
}

.header-right li .my5lux ul li {
  float: left;
  width: 100%;
  line-height: 30px;
  font-size: 14px;
}

.header-right li .my5lux ul li a {
  border: 0;
  display: block;
  padding: 0;
  position: relative;
  right: -58px;
}

.header-right li .my5lux ul li a:hover {
  color: #d00000;
}

.header-right li .my5lux ul .wuda {
  right: 0;
  text-align: center;
}

.header-right li .download {
  float: left;
  position: absolute;
  border: 1px solid #ccc;
  border-top: 0;
  background: white;
  display: none;
}

.header-right li .download ul {
  float: left;
}

.header-right li .download ul li {
  font-size: 13px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  line-height: 20px;
}

.header-right li .download ul li img {
  padding: 5px;
}

.header-right li .download ul li span {
  color: #d00000;
  font-size: 16px;
}

.header-right .li3:hover {
  background: white;
}

.header-right .li3:hover .my5lux {
  display: block;
  z-index: -1;
}

.header-right .weima {
  background: url(../img/brandstore_share.png) no-repeat -201px -369px;
}

.header-right .weima a {
  padding-left: 15px;
  padding-right: 50px;
}

.header-right .weima:hover .download {
  display: block;
  background: white;
  z-index: 2;
}

.headerInfo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  float: left;
}

.headerInfo .logo {
  float: left;
}

.headerInfo .logo .lg {
  float: left;
}

.headerInfo .logo .yijian {
  float: left;
  margin: 10px 0 0 45px;
}

.headerInfo .search {
  float: left;
  margin: 30px 0 0 50px;
}

.headerInfo .search form {
  width: 383px;
  height: 40px;
  border: 1px solid #c69c6d;
  overflow: hidden;
}

.headerInfo .search form .search_name {
  width: 303px;
  height: 40px;
  border: 0;
  outline: medium;
  overflow: hidden;
  text-indent: 4px;
}

.headerInfo .search form .search_button {
  background: #c69c6d;
  overflow: hidden;
  width: 80px;
  height: 40px;
  float: right;
  border: none;
  color: white;
  outline: medium;
}

.headerInfo .search .hotSearch {
  margin: 5px 0 0 5px;
}

.headerInfo .search .hotSearch a {
  font-size: 12px;
  color: #999;
  display: block;
  float: left;
  padding-right: 23px;
}

.headerInfo .search .hotSearch a:hover {
  color: #d00000;
}

.headerInfo .order {
  float: right;
  position: relative;
  top: 35px;
}

.headerInfo .order dl {
  background: #fff;
  position: relative;
  float: left;
}

.headerInfo .order dl dt {
  width: 150px;
  height: 32px;
  line-height: 32px;
  text-indent: 45px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: relative;
  float: right;
  color: #666;
  background: url(../img/brandstore_share.png) no-repeat -324px -407px;
}

.headerInfo .order dl dt img {
  position: absolute;
  left: 10px;
  top: 2px;
}

.headerInfo .order dl dd {
  clear: both;
  width: 268px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #ccc;
  display: none;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.headerInfo .order dl dd ul {
  max-height: 335px;
  overflow-y: auto;
  overflow-x: hidden;
}

.headerInfo .order dl b {
  width: 150px;
  height: 3px;
  display: none;
  position: absolute;
  background: #fff;
  right: 1px;
  top: 32px;
  z-index: 1;
}

.headerInfo .order dl:hover dd {
  display: block;
}

.headerInfo .order dl:hover b {
  display: block;
}

.nav {
  width: 100%;
  min-width: 1210px;
  background: url(../img/navi_1pxbg.png) repeat-x;
  height: 38px;
  float: left;
  vertical-align: middle;
  box-shadow: 0 4px 4px #c7c6c6;
  -o-box-shadow: 0 4px 4px #c7c6c6;
  -moz-box-shadow: 0 4px 4px #c7c6c6;
  -webkit-box-shadow: 0 4px 4px #c7c6c6;
}

.nav .menu {
  height: 40px;
  margin: 0 auto;
  position: relative;
  float: left;
}

.nav .menu li {
  float: left;
  z-index: 20;
  font-size: 14px;
  text-align: center;
  font-family: 微软雅黑;
  height: 40px;
  line-height: 40px;
}

.nav .menu li a {
  display: block;
  width: 82px;
  height: 38px;
  color: #c8a985;
  position: relative;
}

.nav .menu li a .marker {
  font-size: 30px;
  position: absolute;
  top: 5px;
  left: 7px;
}

.nav .menu li .wi {
  color: white;
}

.nav .menu li .fenLei {
  width: 130px;
  background: url(../img/lux_index.png) no-repeat -8px -216px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.nav .menu li .leftmenu {
  width: 130px;
  display: none;
  float: left;
  position: relative;
  z-index: 10;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.2);
}

.nav .menu li .leftmenu ul li .group {
  background-color: #fff;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
  height: 36px;
  text-align: left;
  line-height: 36px;
  margin: 0 auto;
  position: relative;
  padding-left: 48px;
}

.nav .menu li .leftmenu ul li .group a {
  color: black;
}

.nav .menu li .leftmenu ul li .group i {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 36px;
  width: 20px;
  display: block;
  background: url(../img/share02.png) no-repeat -304px -33px;
}

.nav .menu li .leftmenu ul li .hodh {
  background: url(../img/brand_category1.png) no-repeat -3px -4px;
}

.nav .menu li .leftmenu ul li .xiangbao {
  background: url(../img/brand_category1.png) no-repeat -3px -36px;
}

.nav .menu li .leftmenu ul li .meizhuang {
  background: url(../img/brand_category1.png) no-repeat -3px -68px;
}

.nav .menu li .leftmenu ul li .fuzhuang {
  background: url(../img/brand_category1.png) no-repeat -3px -100px;
}

.nav .menu li .leftmenu ul li .wanbiao {
  background: url(../img/brand_category1.png) no-repeat -3px -132px;
}

.nav .menu li .leftmenu ul li .peishi {
  background: url(../img/brand_category1.png) no-repeat -3px -165px;
}

.nav .menu li .leftmenu ul li .xiexue {
  background: url(../img/brand_category1.png) no-repeat -3px -196px;
}

.nav .menu li .leftmenu ul li .muying {
  background: url(../img/brand_category1.png) no-repeat -3px -228px;
}

.nav .menu li .leftmenu ul li .meijiu {
  background: url(../img/brand_category1.png) no-repeat -3px -261px;
}

.nav .menu li .leftmenu ul li .meishi {
  background: url(../img/brand_category1.png) no-repeat -3px -294px;
}

.nav .menu li .leftmenu ul li .jiaju {
  background: url(../img/brand_category1.png) no-repeat -3px -326px;
}

.nav .menu li .leftmenu ul li .dianzi {
  background: url(../img/brand_category1.png) no-repeat -3px -357px;
}

.nav .menu li .leftmenu ul li .bangong {
  background: url(../img/brand_category1.png) no-repeat -3px -390px;
}

.nav .menu li .leftmenu ul li .lipin {
  background: url(../img/brand_category1.png) no-repeat -3px -422px;
}

.nav .menu li .leftmenu ul li .haiwai {
  background: url(../img/brand_category1.png) no-repeat -3px -458px;
}

.nav .icon_Wrap {
  float: right;
}

.nav .icon_Wrap li {
  float: left;
  margin-right: 12px;
  width: 30px;
  overflow: hidden;
  line-height: 40px;
}

.nav .icon_Wrap li div {
  width: 200px;
  overflow: hidden;
}

.nav .icon_Wrap li div a {
  display: block;
  line-height: 40px;
}

.nav .icon_Wrap li div a span {
  display: block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin-right: 3px;
}

.nav .icon_Wrap li div a b {
  font-weight: 400;
  float: left;
  color: #fff;
  font-size: 12px;
}

.nav .icon_Wrap li .divlist01 span {
  background: url(../img/share02.png) no-repeat -237px -66px;
}

.nav .icon_Wrap li .divlist02 span {
  background: url(../img/share02.png) no-repeat -296px -66px;
}

.nav .icon_Wrap li .divlist03 span {
  background: url(../img/share02.png) no-repeat -354px -66px;
}

.carousel {
  position: relative;
  width: 100%;
  min-width: 1210px;
  height: 520px;
  overflow: hidden;
}

.carousel ul {
  position: relative;
  width: 11200px;
  height: 520px;
  float: left;
}

.carousel ul li {
  float: left;
}

.carousel ul li img {
  display: block;
}

.carousel .page {
  position: absolute;
  right: 50%;
  margin-right: -77px;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.carousel .page span {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  overflow: hidden;
  text-align: center;
  background-color: #efefef;
  border-radius: 50%;
  text-indent: -2000em;
}

.carousel .page .active {
  background-color: #f60;
  color: #fff;
}

.carousel .prev {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: url(../img/templateleft.png) no-repeat;
  color: #fff;
  text-align: center;
  opacity: 0.6;
  left: 237px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.carousel .next {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: url(../img/templateright.png) no-repeat;
  color: #fff;
  text-align: center;
  opacity: 0.6;
  right: 237px;
  top: 50%;
  margin-top: -25px;
}

.carousel:hover .next {
  display: block;
}

.carousel:hover .prev {
  display: block;
}

.main {
  width: 100%;
  float: left;
}

.main .brandship_title {
  margin: 40px 0 20px 0;
}

.main .brandship_list {
  width: 100%;
  float: left;
}

.main .brandship_list li {
  float: left;
  position: relative;
  margin-right: 10px;
}

.main .brandship_list li a .bgpic {
  width: 234px;
  height: 329px;
  display: block;
}

.main .brandship_list li a .brandship_tbox {
  position: absolute;
  bottom: 1px;
  left: 30px;
  width: 174px;
  height: 154px;
  overflow: hidden;
  z-index: 1;
}

.main .brandship_list li a .brandship_tbox .brand_hide {
  background: #fff;
  width: 106px;
  height: 154px;
  position: absolute;
  top: 100px;
  padding: 0 34px 0 34px;
}

.main .brandship_list li a .brandship_tbox .brand_hide .brandlogopic {
  width: 60px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 3px;
  display: block;
}

.main .brandship_list li a .brandship_tbox .brand_hide .splitline {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.main .brandship_list li a .brandship_tbox .brand_hide .splitline .blackbar {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #000;
}

.main .brandship_list li a .brandship_tbox .brand_hide .enbrand {
  font-size: 14px;
  text-align: center;
  color: #000;
}

.main .brandship_list li a .brandship_tbox .brand_hide .chnbrand {
  font-size: 14px;
  text-align: center;
  color: #000;
}

.main .hotstore_title {
  width: 100%;
  float: left;
  overflow: hidden;
}

.main .hotstore_title img {
  float: left;
}

.main .hotstore_title .hotarrowbtn {
  float: right;
  padding-top: 23px;
  padding-right: 15px;
}

.main .hotstore_title .hotarrowbtn a .hot_pre {
  display: inline-block;
  width: 8px;
  height: 15px;
  background: url(../img/share02.png) no-repeat -160px -384px;
}

.main .hotstore_title .hotarrowbtn a .hot_next {
  display: inline-block;
  width: 8px;
  height: 15px;
  background: url(../img/share02.png) no-repeat -180px -384px;
  margin-left: 20px;
}

.main .hotflag {
  height: 180px;
  width: 100%;
}

.main .hotflag .hotflagbox {
  width: 100%;
}

.main .hotflag .hotflagbox li {
  float: left;
  width: 106px;
  height: 55px;
  padding: 14px 29px;
  border: 1px solid #dfdfdf;
  margin-right: 6px;
  margin-bottom: 7px;
}

.main .hotflag .hotflagbox li a img {
  width: 107px;
  height: 54px;
}

.main .storesame_title {
  width: 100%;
  float: left;
}

.main .storesame_link {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.main .storesame_link li {
  float: left;
  width: 395px;
  height: 30px;
  background: #999;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
}

.main .storesame_link .st-active {
  background-color: black;
}

.main .storesame ul {
  width: 100%;
  float: left;
}

.main .storesame ul li {
  float: left;
}

.main .storesame ul li .storesameb_left {
  float: left;
}

.main .storesame ul li .storesameb_left img {
  width: 368px;
}

.main .storesame ul li .storesameb_right {
  float: left;
  margin-left: 9px;
}

.main .storesame ul li .storesameb_right .storesameb_top {
  overflow: hidden;
  margin-bottom: 8px;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 {
  width: 222px;
  height: 248px;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
  float: left;
  margin-right: 8px;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 .storesametoptxt {
  font-size: 13px;
  color: #666;
  display: inline-block;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 .storesametoptxt .enbrand {
  color: #000;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 .storesametoptxt p {
  line-height: 24px;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 .storesametoppic {
  text-align: center;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 .storesametoppic a {
  display: block;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top1 .storesametoppic a img {
  width: 150px;
  padding: 2px 0 0 38px;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top2 {
  border: 1px solid #ccc;
  text-align: center;
  width: 360px;
  height: 248px;
  float: left;
  margin-right: 7px;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top2 .storesametoptxt {
  font-size: 13px;
  margin-top: 20px;
  margin-left: 70px;
  color: #666;
  display: inline-block;
  float: left;
  position: relative;
  left: 0;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top2 .storesametoptxt .enbrand {
  color: #000;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top2 .storesametoptxt p {
  line-height: 24px;
}

.main .storesame ul li .storesameb_right .storesameb_top .storesame_top2 .storesametoppic2 img {
  width: 180px;
  margin-top: 35px;
}

.main .storesame ul li .storesameb_right .storesameb_bottom {
  float: left;
}

.main .storesame ul li .storesameb_right .storesameb_bottom .storesamebottom1 {
  margin-right: 7px;
  border: 1px solid #ccc;
  float: left;
  width: 268px;
  height: 255px;
}

.main .storesame ul li .storesameb_right .storesameb_bottom .storesamebottom1 .storesametoptxt {
  text-align: center;
}

.main .storesame ul li .storesameb_right .storesameb_bottom .storesamebottom1 .storesametoptxt p {
  line-height: 24px;
}

.main .storesame ul li .storesameb_right .storesameb_bottom .storesamebottom1 .storesametoppic img {
  margin: 10px 0 0 55px;
}

.main .storesame ul li .darwin_3colum {
  width: 398px;
  display: inline-block;
  height: 520px;
  overflow: hidden;
  position: relative;
}
